.login {   
    margin: auto;
    margin-right: 32px;
    padding: 10px 18px;
    justify-content: flex-end;
    display: flex;
    width: max-content;
    border-radius: 8px;
    border: 1.3px solid rgba(213, 199, 241, 0.2);
    background-color: rgba(224, 218, 236, 0.2);
}

.login a {
    color: #fff;
    text-decoration: none;
}