.album-wrapper {
    padding: 0 64px;
    /* Grid */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.shortCard {
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-bottom: 64px;
}

.shortCard-image {
    justify-content: flex-start;
}

.shortCard-image img {
    border-radius: 3px;
    margin-right: 96px;
    width: 312px;
}

.shortCard-desc {
    /* position: relative; */
    /* justify-content: space-around; */
    margin-top: 32px;
    width: 1000px;
}

.shortCard-desc h2 {
    font-size: 32px;
    margin: 0 auto;
}

.shortCard-desc h4 {
    font-size: 24px;
    font-weight: normal;
    margin: 8px 0 32px 0;
}

.shortCard-desc p {
    margin-top: -8px;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 8px;
}

.btn-select {
    /* position: absolute; */
    /* display: block; */
    background-color: #159260;
    color: #fff;
    opacity: 0.7;
    margin-top: -8px;
    padding: 0 16px;
    justify-content: center;
}

.btn-select:hover {
    background-color: #159260;
    box-shadow: 0px 8px 24px rgba(46, 229, 157, 0.2);
    color: #fff;
    transform: translateY(-7px);
}