.shortCard {
    width: auto;
    height: 300px;
    padding: 32px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.shortCard-image {
    float: left;
}

.shortCard-image img {
    border-radius: 3px;
}

.shortCard-desc {
    float: right;
    margin: 64px auto;
    width: 560px;
}

.shortCard-desc h2 {
    font-size: 32px;
    margin: 0 auto;
}

.shortCard-desc h4 {
    font-size: 24px;
    font-weight: normal;
    margin: 8px 0 32px 0;
}

.shortCard-desc p {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 8px;
}

.btn-select {
    display: block;
    background-color: white;
    margin: 320px auto;
}

.btn-select:hover {
    background-color: #2EE59D;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: 0px 8px 24px rgba(46, 229, 157, 0.2);
    color: #fff;
    transform: translateY(-7px);
}