body{
  margin: 64px 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, 
    rgba(0, 0, 0, 1) 50%, 
    rgba(14, 62, 218, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
