body{
  margin: 64px 0;
  padding: 0px;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, 
    rgba(0, 0, 0, 1) 50%, 
    rgba(14, 62, 218, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.btn:hover {
  opacity: 1;
}